.education-content {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: minmax(max-content, 1fr);
	align-items: start;
	gap: 25px 30px;
	grid-template-areas:
		"info image"
		"price image";
}

.education-content__box {
	grid-area: info;
}

.education-content__title {
	font-size: 24px;
	margin-bottom: 15px;
	color: var(--primary);
}

.education-content__text {
	max-width: 500px;
	margin-bottom: 15px;
}

.education-content__text:last-child {
	max-width: 100%;
	margin-bottom: 0;
}

.education-content__list {
	margin-bottom: 15px;
	list-style: none;
}

.education-content__item {
	position: relative;
	margin-bottom: 10px;
	padding-left: 25px;
}

.education-content__item:last-child {
	margin-bottom: 0;
}

.education-content__item::before {
	content: '•';
	position: absolute;
	left: 10px;
	font-size: 20px;
	line-height: 1;
	color: var(--primary);
}

.education-info {
	grid-area: price;
}

.education-info__card {
	max-width: 100%;
	min-height: 157px;
	padding: 15px;
	background: var(--gray);
	border-radius: 8px;
	text-align: center;
	transition: all 0.3s ease;
}

.education-info__card:hover {
	transform: translateY(-5px);
}

.education-info__title {
	font-size: 18px;
	margin: 0 0 10px;
	color: var(--primary);
}

.education-info__price {
	margin-bottom: 5px;
	font-size: 20px;
	font-weight: 700;
	color: var(--secondary);
}

.education-info__text {
	font-size: 14px;
	margin: 0;
}

.education__figure {
	grid-area: image;
}

.education__img {
	width: 100%;
	max-height: 570px;
	object-fit: cover;
	object-position: center;
	border-radius: 10px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

@media (max-width: 900px) {
	.education-content {
		grid-template-columns: 1fr;
		grid-template-areas:
			"info"
			"image"
			"price";
	}

	.education-info__card {
		min-height: 100%;
	}
}

@media (max-width: 900px) {
	.education-content__title {
		font-size: 20px;
	}

	.education-content__text {
		max-width: 420px;
		margin-bottom: 10px;
	}

	.education-content__item {
		margin-bottom: 5px;
	}
}