.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 15px 0;
	background-color: rgba(10, 10, 10, 0.95);
	backdrop-filter: blur(10px);
	z-index: 1000;
	transition: all 0.3s ease;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	font-size: 24px;
	font-weight: 700;
	color: var(--light);
}

.header__logo-text {
	color: var(--primary);
}

.header-nav__list {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.header-nav__link {
	position: relative;
	font-weight: 500;
	font-size: 18px;
	color: var(--light);
	text-decoration: none;
	transition: color 0.3s ease;
}

.header-nav__link::after {
	content: '';
	position: absolute;
	bottom: -3px;
	left: 0;
	width: 0;
	height: 2px;
	background-color: var(--primary);
	transition: width 0.3s ease;
}

.header-nav__link:hover::after {
	width: 100%;
}

.header-nav__link:hover {
	color: var(--primary);
}

.header-nav__btn {
	display: none;
}


@media (max-width: 900px) {
	.header.scrolled {
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
	}

	.header-nav__list {
		position: fixed;
		flex-direction: column;
		justify-content: flex-start;
		top: 68px;
		left: -100%;
		width: 80%;
		max-width: 300px;
		height: calc(100vh - 70px);
		padding: 30px 0;
		background: var(--darker);
		transition: left 0.3s ease;
		z-index: 999;
	}

	.header-nav__link {
		font-size: 14px;
	}

	.header-nav__btn {
		display: block;
	}

	.header-nav__btn {
		color: var(--light);
		transition: 0.3s ease;
	}

	.header-nav__close {
		display: none;
	}

	.header-nav__btn.active .header-nav__open {
		display: none;

	}

	.header-nav__btn.active .header-nav__close {
		display: block;
	}

	.header-nav__list.active {
		left: 0;
		transition: 1s ease;
	}
}