.services-box {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

.service-box__card {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: max-content;
	padding: 25px;
	background: var(--gray);
	border-radius: 10px;
	text-align: center;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease;
}

.service-box__card:hover {
	transform: translateY(-5px);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.service-box__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	gap: 10px;
	padding-bottom: 15px;
	color: var(--primary);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.service-box__title {
	font-size: 20px;
	color: var(--primary);
}

.service-box__list {
	width: 100%;
	padding-top: 30px;
	list-style: none;
	text-align: left;
}

.service-box__item {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
	max-width: 100%;
	padding: 12px 0 12px 20px;
	margin-bottom: 5px;
	border-bottom: 1px solid #ff6b6b;
	border-bottom-style: outset;
}

.service-box__item::before {
	content: '✓';
	position: absolute;
	left: 0;
	color: var(--primary);
}

.service-box__item:last-child {
	margin-bottom: 0;
	border-bottom: none;
}

.service-box__item-text {
	font-size: 16px;
	font-weight: 700;
}


.service-box__item-span {
	font-size: 12px;
	color: rgba(255, 255, 255, 0.6);
	margin-right: 5px;
}


.service-box__item-price {
	font-size: 18px;
	font-weight: 700;
	color: var(--secondary);
	white-space: nowrap;
}

.service-box__item-text_flex {
	display: flex;
}

@media (max-width: 1050px) {
	.services-box {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 1fr;
	}

	.service-box__card_coloring {
		grid-column: 1/-1;
		grid-row: 2;
	}
}

@media (max-width: 650px) {
	.services-box {
		grid-template-columns: 1fr;
	}

	.service-box__card {
		padding: 20px 10px;
	}

	.service-box__card_coloring {
		grid-row: 3;
	}

	.service-box__item-text {
		font-size: 14px;
	}
}